<ion-header>
  <ion-toolbar>
    <ion-title>Nelx News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let article of data?.articles" >
    <img [src]=article.urlToImage />
    <ion-card-content>
      <ion-card-title>
        {{article.title}}
      </ion-card-title>
      <p>
        {{article.description}}
      </p>
    </ion-card-content>

    <!-- 
    <ion-row class="row">
      <ion-col class="col">
        <button ion-button clear padding>
          <ion-icon name="heart"></ion-icon>
          Favorite
        </button>
      </ion-col>
      <ion-col class="col" text-center="">
        <button ion-button clear padding>
          <ion-icon name="heart"></ion-icon>
          Listen
        </button>
      </ion-col>
      <ion-col class="col" text-right="">
        <button ion-button clear padding>
          <ion-icon name="heart"></ion-icon>
          Share
        </button>
      </ion-col>
    </ion-row> 
    -->
  </ion-card>

</ion-content>