<ion-header>
  <ion-toolbar color="dark">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-buttons (click)="back()">
            <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
          </ion-buttons>
        </ion-col>
        <ion-col>
          <ion-title>Open Article</ion-title>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img [src]=article?.urlToImage />
    <ion-card-content>
      <ion-card-title>
        {{article?.title}}
      </ion-card-title>
      <hr>
      <p>
        {{article?.content}}
      </p>
      <p>{{article?.author}} - {{article?.publishedAt}}</p>
      <span>Open in browser: <a [href]=article?.url target="_blank" rel="noopener noreferrer">{{article?.url}}</a></span>
    </ion-card-content>
  </ion-card>
</ion-content>